% -*- mode: erlang -*-
{deps, [{meck, ".*",
         {git, "git://github.com/eproxus/meck.git", ""}},
        {amqp_client, ".*",
         {git, "git://github.com/dreid/amqp_client.git", ""}},
        {rabbit_common, ".*",
         {git, "git://github.com/dreid/rabbit_common.git", ""}}]}.
{cover_enabled, true}.
{eunit_opts, [verbose]}.
