% -*- mode: erlang -*-
{deps, [{effigy, ".*",
         {git, "ssh://git.mochimedia.net/data/git/third-party/effigy.git", ""}},
        {amqp_client, ".*",
         {git, "ssh://git.mochimedia.net/data/git/amqp_client.git", ""}},
        {rabbit_common, ".*",
         {git, "ssh://git.mochimedia.net/data/git/rabbit_common.git", ""}}]}.
{lib_dirs, ["."]}.
{cover_enabled, true}.
{eunit_compile_opts, [{src_dirs, ["src"]}]}.
{eunit_opts, [verbose]}.
