% -*- mode: erlang -*-
{deps, [{effigy, ".*",
         {git, "ssh://git.mochimedia.net/data/git/effigy/", "HEAD"}},
        {amqp_client, ".*",
         {git, "ssh://git.mochimedia.net/data/git/amqp_client.git", "HEAD"}},
        {rabbit_common, ".*",
         {git, "ssh://git.mochimedia.net/data/git/rabbit_common.git", "HEAD"}}]}.
{lib_dirs, ["."]}.
{cover_enabled, true}.
{eunit_compile_opts, [{src_dirs, ["src"]}]}.
{eunit_opts, [verbose]}.
